.App {
  text-align: center;
  color: pink;
}
body {
  /* background-color: #f79256; */
  background-image: url("file:///C:/Users/aegon47/Downloads/pexels-jv-buenconcejo-2719301.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
